pipeline/Copy_multipleTable_to_file.json
{
	"name": "Copy_multipleTable_to_file",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_table",
						"type": "DatasetReference",
						"parameters": {
							"ds_pr_schemaname": "salesLT",
							"ds_pr_tablename": "customer"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy_table_to_file",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"TableList": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						},
						"FilePath": {
							"value": "@pipeline().parameters.Filepath",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Filepath": {
				"type": "string",
				"defaultValue": "landing/output"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-30T06:34:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}