pipeline/FailActivity_TriggerMail.json
{
	"name": "TriggerMail",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azuresqldb",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_pr_databasename": "tamil11021991db",
						"ls_pr_username": "tamil",
						"ls_pr_password": "MayFlower@2024"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select 1/0"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendMail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@{activity('Script1').Error.Message}",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}