pipeline/Threshold_count_check_Load.json
{
	"name": "Threshold_count_check_Load",
	"properties": {
		"description": "Check the thresold value from the file and load the table",
		"activities": [
			{
				"name": "Lookup Thresold File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Thresold_File",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup count customer",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as cnt from salesLT.Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureDB_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "salesLT",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "If Condition check FileThresold_greater_CustomerTable",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Thresold File",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Lookup count customer",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater( activity('Lookup count customer').output.firstRow.cnt,int(activity('Lookup Thresold File').output.firstRow.Prop_0))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline Table_to_JSON",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy_Table_to_JSON",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pr_tablename": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "Customer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-06T06:29:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}