pipeline/WebActivity_GET.json
{
	"name": "WebActivity_GET",
	"properties": {
		"activities": [
			{
				"name": "Web_GET_Objects",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.restful-api.dev/objects"
				}
			},
			{
				"name": "Web_Post_Object",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://api.restful-api.dev/objects",
					"body": {
						"name": "Apple 1200",
						"data": {
							"year": 2024,
							"price": 1999,
							"CPU model": "Intel Core i9",
							"Hard disk size": "1 TB"
						}
					}
				}
			},
			{
				"name": "Set variable1_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_Post_Object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ID",
					"value": {
						"value": "@activity('Web_Post_Object').output.id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1_Get_One_Object",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://api.restful-api.dev/objects/',variables('ID'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1_Update_Object",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1_Get_One_Object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"url": {
						"value": "@concat('https://api.restful-api.dev/objects/',variables('ID'))",
						"type": "Expression"
					},
					"body": {
						"name": "Apple MacBook Pro 16",
						"data": {
							"year": 2019,
							"price": 2049.99,
							"CPU model": "Intel Core i9",
							"Hard disk size": "1 TB",
							"color": "silver"
						}
					}
				}
			},
			{
				"name": "Web1_Get_One_Object_AfterUpdate",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1_Update_Object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://api.restful-api.dev/objects/',variables('ID'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1_Partial_Update",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1_Get_One_Object_AfterUpdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PATCH",
					"url": {
						"value": "@concat('https://api.restful-api.dev/objects/',variables('ID'))",
						"type": "Expression"
					},
					"body": {
						"name": "Apple MacBook Pro 16 (Updated Name)"
					}
				}
			},
			{
				"name": "Web1_Get_One_Object_After_PartialUpdate",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1_Partial_Update",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://api.restful-api.dev/objects/',variables('ID'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}