pipeline/Without_Foreach_Example.json
{
	"name": "Without_Foreach_Example",
	"properties": {
		"activities": [
			{
				"name": "Set variable",
				"description": "Set variable ",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Table_List",
					"value": {
						"value": "@createArray('Customer','CustomerAddress')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "if condition check Customer Table",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [
					{
						"name": "CustomerTable",
						"value": "@{contains(variables('Table_List'),'Customer')}"
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('Table_List'),'Customer')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy customer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'salesLT'}.@{'Customer'}"
								},
								{
									"name": "Destination",
									"value": "landing/@{'customer'}/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CustomerID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "CustomerID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NameStyle",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "NameStyle",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Title",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Title",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MiddleName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "MiddleName",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "LastName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "LastName",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Suffix",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Suffix",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CompanyName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "CompanyName",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "SalesPerson",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "SalesPerson",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "EmailAddress",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "EmailAddress",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Phone",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Phone",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "PasswordHash",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "PasswordHash",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "PasswordSalt",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "PasswordSalt",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "rowguid",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureDB_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "salesLT",
										"TableName": "Customer"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_CSV_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"Directory": "customer"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "If Condition check CustomerAddress Table",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Cust_Address",
						"value": "@{contains(variables('Table_List'),'CustomerAddress')}"
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('Table_List'),'CustomerAddress' )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy CustomerAddress",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'salesLT'}.@{'CustomerAddress'}"
								},
								{
									"name": "Destination",
									"value": "landing/@{'CustomerAddress'}/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CustomerID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "CustomerID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "AddressID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "AddressID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "AddressType",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "AddressType",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "rowguid",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureDB_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "salesLT",
										"TableName": "CustomerAddress"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_CSV_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"Directory": "CustomerAddress"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Table_List": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-03T13:29:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}